<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/public/artist.css">

</head>
<body>
    
    

    <div class="image-section">
        <img src="{{.Artist.Image}}" alt="Image of {{.Artist.Name}}">
    </div>
    
    <div class="artistContainer"> 
        
        <div class="artist-section">
            <p><b>Name:</b> {{.Artist.Name}}</p><br>
            <b>Members:</b>
            <ul>
                {{range .Artist.Members}}
                    <li><span>{{.}}</span></li>
                {{end}}
            </ul>
            <p><b>Creation Date:</b> {{.Artist.CreationDate}}</p>
            <p><b>First Album:</b> {{.Artist.FirstAlbum}}</p>
        </div>
    
        <div class="artist-section">
            <b>Locations:</b>
            <ul>
                {{range .Location.Locations}}
                    <li><span>{{.}}</span></li>
                {{end}}
            </ul>    
            <b>Dates:</b>
            <ul>
                {{range .Date.Dates}}
                    <li><span>{{.}}</span></li>
                {{end}}
            </ul>    
        </div>
    
        <div class="artist-section">
            <b>Concert locations and dates:</b><br>
            {{range $location, $dates := .Relation.DatesLocations}}
                <b>{{$location}}</b>
                <ul>
                    {{range $dates}}
                        <li>{{.}}</li>
                    {{end}}
                </ul> 
            {{end}}
        </div>
    </div>
    
    
    <!-- Move the form section here to the bottom of the container -->
    <div class="button-section">
        <form action="/" method="GET">
            <button type="submit">Return To Home</button>
        </form>
    </div>

    <!-- :::::::::::::::::: -->
    <h2>Concert Locations:</h2>
    <div id="map"></div>

    <!-- Leaflet Map Library -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <script>
        // Parse the location data passed from the server
        var locations = JSON.parse('{{.LocationData}}');
    
        var map = L.map('map').setView([0, 0], 2);  // Initialize the map
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(map);
    
        // Add markers to the map
        locations.forEach(function(location) {
            L.marker([location.lat, location.lng]).addTo(map);
        });
    
        // Adjust the map view to fit all markers
        var bounds = L.latLngBounds(locations.map(loc => [loc.lat, loc.lng]));
        map.fitBounds(bounds);
    </script>
    <!-- :::::::::::::::::: -->

</body>
</html>
