
body {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-image: radial-gradient(circle, #000000 0%, #0f3300 100%);
}


@media (min-width: 769px) {
    
.container {
        display: flex;
    flex-wrap: wrap; /* Allows the divs to wrap to the next line */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    overflow: hidden;
    height: 350px;
    width: 350px; /* Ensures two boxes fit side by side with some space between */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adds some space between rows */
    display: flex; /* Enables Flexbox on the .box */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: left; /* Centers text inside the box */
    border-bottom:  solid #35ff03;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artist-link {
    text-decoration: none;
    color: #ffffff !important;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.artist-link:hover {
    color: #35ff03 !important; 
    transform: scale(1.05);
}

.artist-link img {
    max-width: 100%;
    height: auto;
}

.artist-link p {
    margin: 10px 0;
    font-size: 1rem;
}

.infos{
    display: flex;
    justify-content:space-between;
    
}

.date {
    font-size: large;
    position: relative;
    opacity: 40%;
    
}

.ret {
    color: red;
    font-size: large;
}

.centredBody {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.artist-link {
    display: block; /* Makes the link a block element to ensure it covers the whole artist block */
    color: inherit; /* Inherit color from parent to avoid link color changes */
    text-decoration: none; /* Remove underline from the link */
    height: 100%; /* Ensure the link covers the entire height of the block */
}

}

@media (max-width: 769px) {
    
    body {
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: #fff;
        font-size: 20px;
        background-image: radial-gradient(circle, #000000 0%, #0f3300 100%);
    }
    h1{
        color: #35ff03;
    }
    .container {
        display: flex;
    flex-wrap: wrap; /* Allows the divs to wrap to the next line */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    overflow: hidden;
    height: 350px;
    width: 350px; /* Ensures two boxes fit side by side with some space between */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px; /* Adds some space between rows */
    display: flex; /* Enables Flexbox on the .box */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    text-align: left; /* Centers text inside the box */
    border-bottom:  solid #35ff03;
    margin: 10px;
    transition: box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artist-link {
    text-decoration: none;
    color: #ffffff !important;
    display: block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.artist-link:hover {
    color: #35ff03 !important; 
    transform: scale(1.05);
}

.artist-link img {
    max-width: 100%;
    height: auto;
}

.artist-link p {
    margin: 10px 0;
    font-size: 1rem;
}

.infos{
    display: flex;
    justify-content:space-between;
    
}

.date {
    font-size: large;
    position: relative;
    opacity: 40%;
    
}

.ret {
    color: red;
    font-size: large;
}

.centredBody {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.artist-link {
    display: block; /* Makes the link a block element to ensure it covers the whole artist block */
    color: inherit; /* Inherit color from parent to avoid link color changes */
    text-decoration: none; /* Remove underline from the link */
    height: 100%; /* Ensure the link covers the entire height of the block */
}
}



